@use 'variable' as var;
@use '@angular/material' as mat;

.spacer {
  flex: 1 1 auto;
}

.header-title {
  text-decoration: none;
  color: var.$dark-font-color;
  font-size: 1.5rem;
}

.mat-toolbar-single-row {
  position: fixed;
  z-index: 1000;
  height: 50px;
  color: var.$dark-font-color;
  background-color: var.$light-primary;
  @include mat.elevation(4);
}

.mat-slide-toggle {
  margin-top: 0.3rem;
}

.header-session-button {
  &__signup {
    font-size: 0.5rem;
  }
  &__login {
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 500px) {
  .header-session-button {
    &__signup {
      display: none;
    }
  }
}
