@use 'variable' as var;
@use '@angular/material' as mat;

.spacer {
  flex: 1 1 auto;
}

span {
  font-size: 3rem;
}

.mat-toolbar-single-row {
  position: fixed;
  z-index: 2;
  @include mat.elevation(4);
}

.header-session-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var.$deepFontColor;
  height: 100%;
  font-size: 1.5rem;
  &:hover {
    background-color: darken(var.$primary, 10%);
  }
}
