<mat-toolbar color="primary">
  <a class="header-title" routerLink="/">TitleLogo</a>
  <span class="spacer"></span>
  <ng-template #elseUser>
    <button class="header-session-button" mat-button routerLink="/signup">アカウント作成</button>
    <button class="header-session-button" mat-button routerLink="/login">ログイン</button>
  </ng-template>
  <button *ngIf="user$ | async as user; else elseUser" mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>account_circle</mat-icon>
    <mat-menu #menu="matMenu">
      <app-menu-list [userName]="user.displayName"></app-menu-list>
    </mat-menu>
  </button>
</mat-toolbar>
