@use 'variable' as var;
@use '@angular/material' as mat;

.spacer {
  flex: 1 1 auto;
}

.header-title {
  text-decoration: none;
  color: var.$deepFontColor;
  font-size: 2.5rem;
}

.mat-toolbar-single-row {
  position: fixed;
  z-index: 1000;
  @include mat.elevation(4);
}

.header-session-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var.$deepFontColor;
  height: 100%;
  font-size: 1.5rem;
  &:hover {
    background-color: darken(var.$primary, 10%);
  }
}
