<mat-list class="rules-list">
  <mat-label>局数</mat-label>
  <mat-list-item>{{ rules.gameName }}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-label>喰い断</mat-label>
  <mat-list-item>
    <ng-container [ngSwitch]="rules.tanyao">
      <ng-container *ngSwitchCase="'1'">有効</ng-container>
      <ng-container *ngSwitchCase="'0'">無効</ng-container>
    </ng-container>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-label>後付け</mat-label>
  <mat-list-item>
    <ng-container [ngSwitch]="rules.back">
      <ng-container *ngSwitchCase="'1'">有効</ng-container>
      <ng-container *ngSwitchCase="'0'">無効</ng-container>
    </ng-container>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-label>赤ドラ</mat-label>
  <mat-list-item>{{ rules.dora }}枚</mat-list-item>
  <mat-divider></mat-divider>
  <mat-label>配給原点</mat-label>
  <mat-list-item>{{ rules.startPoint }}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-label>返し点</mat-label>
  <mat-list-item>{{ rules.returnPoint }}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-label>ウマ</mat-label>
  <mat-list-item>
    <div class="rule-container">
      <div>1位【{{ rules.uma1 }}】</div>
      <div>2位【{{ rules.uma2 }}】</div>
      <div>3位【{{ rules.uma3 }}】</div>
      <div *ngIf="rules.playerCount === 4">4位【{{ rules.uma4 }}】</div>
    </div>
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-list>
