<div class="login">
  <h2>ログイン</h2>
  <form [formGroup]="formGroup" autocomplete="off" class="formGroup">
    <div class="login-grid">
      <mat-form-field class="login-grid__input" appearance="outline">
        <mat-label>メールアドレス</mat-label>
        <input matInput type="email" formControlName="mail" />
      </mat-form-field>
      <mat-form-field class="login-grid__input" appearance="outline">
        <mat-label>パスワード</mat-label>
        <input matInput type="password" formControlName="password" />
      </mat-form-field>
    </div>
    <div class="login-buttons">
      <div class="login-buttons__button">
        <button mat-raised-button color="accent" (click)="login()">ログイン</button>
      </div>
      <div class="login-buttons__button">
        <p>アカウントをお持ちでない方はこちら</p>
        <button type="button" mat-stroked-button color="primary" routerLink="/signup">新規登録</button>
      </div>
    </div>
  </form>
</div>
