.login {
  text-align: center;
}

.login-grid {
  gap: 1rem;
  display: grid;
}

.login-links {
  margin-top: 2rem;
  &__link {
    margin-top: 1rem;
    a {
      color: inherit;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__button {
    margin-top: 1rem;
    p {
      margin: 0;
    }
    button {
      width: 100%;
    }
  }
}
