<h1 mat-dialog-title>登録確認</h1>

<div mat-dialog-content>
    <mat-label>大会</mat-label>
    <mat-list class="league-mat-list">
        <ng-container>
            <mat-list-item>
                <mat-label>大会名</mat-label>
                {{ data.leagueName }}
            </mat-list-item>
            <mat-divider></mat-divider>
        </ng-container>
        <ng-container *ngIf="data.leagueManual">
            <mat-list-item>
                <mat-label>大会説明</mat-label>
                {{ data.leagueManual }}
            </mat-list-item>
            <mat-divider></mat-divider>
        </ng-container>
    </mat-list>

    <mat-label>ルール</mat-label>
    <mat-list>
        <mat-list-item>
            <mat-label>局数</mat-label>
            <ng-container [ngSwitch]="data.rules.radioGame">
                <ng-container *ngSwitchCase="'1'">4人東風戦</ng-container>
                <ng-container *ngSwitchCase="'2'">4人半荘戦</ng-container>
                <ng-container *ngSwitchCase="'3'">3人東風戦</ng-container>
                <ng-container *ngSwitchCase="'4'">3人半荘戦</ng-container>
            </ng-container>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <mat-label>ドラ</mat-label>
            <ng-container [ngSwitch]="data.rules.radioDora">
                <ng-container *ngSwitchCase="'1'">赤無し</ng-container>
                <ng-container *ngSwitchCase="'2'">赤ドラ3</ng-container>
                <ng-container *ngSwitchCase="'3'">赤ドラ4</ng-container>
            </ng-container>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <mat-label>喰い断</mat-label>
            <ng-container [ngSwitch]="data.rules.radioTanyao">
                <ng-container *ngSwitchCase="'1'">有効</ng-container>
                <ng-container *ngSwitchCase="'2'">無効</ng-container>
            </ng-container>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <mat-label>長考時間</mat-label>
            <ng-container [ngSwitch]="data.rules.radioTime">
                <ng-container *ngSwitchCase="'1'">3+5秒</ng-container>
                <ng-container *ngSwitchCase="'2'">5+10秒</ng-container>
                <ng-container *ngSwitchCase="'3'">5+20秒</ng-container>
                <ng-container *ngSwitchCase="'4'">60+0秒</ng-container>
            </ng-container>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item><mat-label>配給原点</mat-label>{{ data.rules.inputStartPoint }}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item><mat-label>終局必要点数</mat-label>{{ data.rules.inputFinishPoint }}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item><mat-label>返し点</mat-label>{{ data.rules.inputReturnPoint }}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item><mat-label>コールド</mat-label>{{ data.rules.inputCalledPoint }}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item><mat-label>リーチ必要点数</mat-label>{{ data.rules.inputReachPoint }}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item><mat-label>ノーテン罰符</mat-label>{{ data.rules.inputDeposit }}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <mat-label>ノーテン罰符</mat-label>
            {{ data.rules.inputPenalty1 }},{{ data.rules.inputPenalty2 }},{{ data.rules.inputPenalty3 }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <mat-label>ウマ</mat-label>
            {{ data.rules.inputUma1 }},{{ data.rules.inputUma2 }},{{ data.rules.inputUma3 }},{{ data.rules.inputUma4 }}
        </mat-list-item>
        <mat-divider></mat-divider>
    </mat-list>
    <mat-dialog-actions align="end">
        <button mat-button [mat-dialog-close]="null">Cancel</button>
        <button mat-button color="accent" [mat-dialog-close]="true" cdkFocusInitial>登録</button>
    </mat-dialog-actions>
</div>
