@use 'variable' as var;
@use '@angular/material' as mat;

@mixin title {
  color: var.$titleFontColor;
}

@mixin material {
  @include mat.elevation(2);
  border-radius: 0.5rem;
}

@mixin center {
  display: grid;
  justify-items: center;
  align-items: center;
}
