@use '@angular/material/theming' as theme;
@use '@angular/material' as mat;

$my-primary: mat.define-palette(mat.$indigo-palette);
$my-accent: mat.define-palette(mat.$teal-palette);
$my-warn: mat.define-palette(mat.$red-palette);

$custom-typography: mat.define-typography-config(
  $font-family: '"Noto Sans JP",monospace',
  $display-4: mat.define-typography-level(112px, 123px, 300, $letter-spacing: -0.05em),
  $display-3: mat.define-typography-level(56px, 62px, 400, $letter-spacing: -0.02em),
  $display-2: mat.define-typography-level(45px, 53px, 400, $letter-spacing: -0.005em),
  $display-1: mat.define-typography-level(34px, 44px, 400),
  $headline: mat.define-typography-level(24px, 35px, 400),
  $title: mat.define-typography-level(20px, 32px, 500),
  $subheading-2: mat.define-typography-level(17px, 30px, 400),
  $subheading-1: mat.define-typography-level(16px, 26px, 400),
  $body-2: mat.define-typography-level(16px, 26px, 500),
  $body-1: mat.define-typography-level(16px, 22px, 400),
  $caption: mat.define-typography-level(13px, 20px, 400),
  $button: mat.define-typography-level(15px, 15px, 500),
);

$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
      warn: $my-warn,
    ),
  )
);
@include mat.core($custom-typography);
@include mat.all-component-themes($my-theme);
