@use '@angular/material/theming' as theme;
@use '@angular/material' as mat;

$custom-typography: mat.define-typography-config(
  $font-family: '"Noto Sans JP",monospace',
  $display-4: mat.define-typography-level(112px, 123px, 300, $letter-spacing: -0.05em),
  $display-3: mat.define-typography-level(56px, 62px, 400, $letter-spacing: -0.02em),
  $display-2: mat.define-typography-level(45px, 53px, 400, $letter-spacing: -0.005em),
  $display-1: mat.define-typography-level(34px, 44px, 400),
  $headline: mat.define-typography-level(24px, 35px, 400),
  $title: mat.define-typography-level(20px, 32px, 500),
  $subheading-2: mat.define-typography-level(17px, 30px, 400),
  $subheading-1: mat.define-typography-level(16px, 26px, 400),
  $body-2: mat.define-typography-level(16px, 26px, 500),
  $body-1: mat.define-typography-level(16px, 22px, 400),
  $caption: mat.define-typography-level(13px, 20px, 400),
  $button: mat.define-typography-level(15px, 15px, 500),
);

$light-primary: mat.define-palette(mat.$gray-palette, 800);
$light-accent: mat.define-palette(mat.$teal-palette);
$light-warn: mat.define-palette(mat.$red-palette);
$dark-primary: mat.define-palette(mat.$gray-palette, 50);
$dark-accent: mat.define-palette(mat.$teal-palette);
$dark-warn: mat.define-palette(mat.$red-palette);

$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $light-primary,
      accent: $light-accent,
      warn: $light-warn,
    ),
  )
);
$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
      warn: $dark-warn,
    ),
  )
);

@include mat.core($custom-typography);
@include mat.all-component-themes($light-theme);
.dark-theme {
  @include mat.all-component-themes($dark-theme);
}
