<mat-card>
  <div class="game">
    <div class="game-header-container">
      <h2>{{ !formType ? '成績管理' : formType === 'post' ? '成績登録' : '成績修正' }}</h2>
      <ng-container *ngIf="formType === 'put'">
        <button type="button" mat-stroked-button color="primary" routerLink="/admin/game/edit">成績登録に戻る</button>
      </ng-container>
    </div>
    <div class="game__option" *ngIf="this.selectLeague.value?.id || formType === 'put'">
      <section>
        <mat-checkbox [checked]="this.isAutoCalc" (change)="autoCalcPointCheck($event.checked)">自動計算</mat-checkbox>
      </section>
      <mat-form-field appearance="outline">
        <mat-label>合計点チェック</mat-label>
        <input matInput readonly [formControl]="totalCheck" />
      </mat-form-field>
    </div>
    <form [formGroup]="formGroup" autocomplete="off" class="formGroup">
      <div classs="league-selector" *ngIf="formType !== 'put'">
        <mat-form-field class="league-selector__input">
          <mat-label>大会選択</mat-label>
          <mat-select [formControl]="selectLeague" [errorStateMatcher]="matcher">
            <mat-option *ngFor="let league of leagueList$ | async" [value]="league">
              {{ league.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <ng-container *ngIf="formType">
        <mat-error *ngIf="pointSumError">合計点が一致しません</mat-error>
        <mat-error *ngIf="calcPointSumError">順位点合計が一致しません</mat-error>
        <mat-error *ngIf="pointComparisonError">点数の順番に不正があります</mat-error>
        <mat-error *ngIf="playerDuplicationError">プレイヤーに重複があります</mat-error>
        <ng-container *ngIf="playerList$ | async as playerList">
          <ng-container formArrayName="gameArray">
            <ng-container *ngFor="let game of gameArray.controls; let i = index" [formGroupName]="i">
              <div class="game-grid">
                <div class="game-grid__rank">
                  <mat-form-field>
                    <mat-label>ランク</mat-label>
                    <mat-select formControlName="rank" [errorStateMatcher]="matcher">
                      <mat-option *ngFor="let _ of gameArray.controls; index as i" [value]="i + 1">
                        {{ i + 1 }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="game-grid__name">
                  <mat-form-field>
                    <mat-label>名前</mat-label>
                    <mat-select formControlName="id" [errorStateMatcher]="matcher">
                      <mat-option *ngFor="let player of playerList" [value]="player.id">
                        {{ player.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="game-grid__point">
                  <mat-form-field appearance="outline">
                    <mat-label>点数</mat-label>
                    <input
                      matInput
                      type="text"
                      formControlName="point"
                      [errorStateMatcher]="matcher"
                      appReplace
                      maxlength="6"
                    />
                  </mat-form-field>
                </div>
                <div class="game-grid__calc-point">
                  <mat-form-field appearance="outline">
                    <mat-label>順位点</mat-label>
                    <input
                      matInput
                      type="text"
                      formControlName="calcPoint"
                      [errorStateMatcher]="matcher"
                      appReplace
                      maxlength="6"
                    />
                  </mat-form-field>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </ng-container>

        <div class="game-buttons">
          <ng-container *ngIf="formType === 'post'">
            <button (click)="postGame()" [disabled]="formGroup.invalid" mat-raised-button color="accent">登録</button>
            <button (click)="resetForm()" mat-stroked-button color="warn">リセット</button>
          </ng-container>
          <ng-container *ngIf="formType === 'put'">
            <button (click)="putGame()" [disabled]="formGroup.invalid" mat-raised-button color="accent">更新</button>
            <button (click)="deleteGame()" mat-raised-button color="warn">削除</button>
          </ng-container>
        </div>

        <div class="game-table">
          <app-table
            *ngIf="gameList$ | async as gameList"
            (rowClickEvent)="tableRowClick($event)"
            [columns]="tableColumns"
            [clickOption]="this.formType === 'post' ? true : false"
            [results]="gameList"
          ></app-table>
        </div>
      </ng-container>
    </form>
  </div>
</mat-card>
