<mat-card>
  <div class="game">
    <div class="game-header-container">
      <h2>{{ !formType ? '成績登録' : '成績修正' }}</h2>
      <div class="move-buttons">
        <button class="move-buttons__button" mat-stroked-button color="accent" (click)="movePage('details')">
          大会成績
        </button>
        <button class="move-buttons__button" mat-stroked-button color="accent" (click)="movePage('player')">
          プレイヤー登録
        </button>
      </div>
    </div>

    <div class="game__option">
      <section>
        <mat-checkbox [checked]="true" (change)="autoCalcPointCheck($event.checked)">自動計算</mat-checkbox>
      </section>
      <mat-form-field appearance="outline">
        <mat-label>合計点チェック</mat-label>
        <input matInput readonly [formControl]="totalCheck" />
      </mat-form-field>
    </div>
    <form [formGroup]="formGroup" autocomplete="off" class="formGroup">
      <ng-container *ngIf="playerList$ | async as playerList">
        <ng-container formArrayName="gameArray">
          <ng-container *ngFor="let game of gameArray.controls; let i = index" [formGroupName]="i">
            <div class="game-grid">
              <div class="game-grid__rank">
                <mat-form-field>
                  <mat-label>ランク</mat-label>
                  <mat-select formControlName="rank" [errorStateMatcher]="matcher">
                    <mat-option *ngFor="let _ of gameArray.controls; index as i" [value]="i + 1">
                      {{ i + 1 }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="game-grid__name">
                <mat-form-field>
                  <mat-label>名前</mat-label>
                  <mat-select formControlName="id" [errorStateMatcher]="matcher">
                    <mat-option *ngFor="let player of playerList" [value]="player.id">
                      {{ player.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="game-grid__point">
                <mat-form-field appearance="outline">
                  <mat-label>点数</mat-label>
                  <input
                    matInput
                    type="number"
                    formControlName="point"
                    [errorStateMatcher]="matcher"
                    appReplace
                    maxlength="6"
                  />
                </mat-form-field>
              </div>
              <div class="game-grid__calc-point">
                <mat-form-field appearance="outline">
                  <mat-label>順位点</mat-label>
                  <input
                    matInput
                    type="number"
                    formControlName="calcPoint"
                    [errorStateMatcher]="matcher"
                    appReplace
                    maxlength="4"
                  />
                </mat-form-field>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </ng-container>

      <div class="game-buttons">
        <button
          class="game-buttons__button"
          (click)="submitGame()"
          [disabled]="formGroup.invalid"
          mat-raised-button
          color="accent"
        >
          {{ !formType ? '登録' : '更新' }}
        </button>
        <ng-container *ngIf="!formType">
          <button class="game-buttons__button" (click)="resetForm()" mat-stroked-button color="warn">リセット</button>
        </ng-container>
        <ng-container *ngIf="formType === 'put'">
          <button class="game-buttons__button" (click)="deleteGame()" mat-raised-button color="warn">削除</button>
        </ng-container>
      </div>

      <div class="game-table">
        <app-table
          *ngIf="gameList$ | async as gameList"
          (rowClickEvent)="tableRowClick($event)"
          [columns]="tableColumns"
          [clickOption]="!this.formType ? true : false"
          [results]="gameList"
        ></app-table>
      </div>
      <ng-container *ngIf="formType === 'put'">
        <button
          type="button"
          class="game-buttons__button--put"
          mat-stroked-button
          color="primary"
          (click)="movePage('post')"
        >
          成績登録に戻る
        </button>
      </ng-container>
    </form>
  </div>
</mat-card>
