@use 'variable' as var;

.rules {
  display: flex;
  flex-flow: column;
  text-align: left;

  &__title {
    margin-top: 1.5rem;
    font-size: 2rem;
    color: var.$subTitleFontColor;
  }
  &__radio {
    display: flex;
    flex-wrap: wrap;
    .mat-radio-button {
      width: 15%;
      min-width: 15rem;
    }
  }
  &__input {
    .mat-form-field {
      width: 50%;
      min-width: 20rem;
    }
  }
  &__toggle {
    display: inline;
    font-size: 1rem;
  }
}

:host ::ng-deep .mat-form-field-wrapper {
  margin-top: 0 !important;
  padding: 0;
}

@media screen and (max-width: 600px) {
  .rules {
    &__input {
      .mat-form-field {
        width: 100%;
        min-width: 20rem;
      }
    }
  }
}
