.signup {
  text-align: center;
}

.signup-grid {
  gap: 1rem;
  display: grid;
}

.signup-buttons {
  margin-top: 2rem;
  &__button {
    margin-top: 1rem;
    p {
      margin: 0;
    }
    button {
      width: 100%;
    }
  }
}
