@use 'variable' as var;
@use 'mixin' as mixin;

.signup {
  text-align: center;
  h2 {
    @include mixin.title;
  }
}

.signup-grid {
  gap: 1rem;
  display: grid;
}

.signup-buttons {
  margin-top: 2rem;
  &__button {
    margin-top: 1rem;
    p {
      font-size: 1.5rem;
      margin: 0;
    }
    button {
      width: 100%;
    }
  }
}
