.table {
  width: 100%;
  &__element-row {
    &:hover {
      background: rgb(200, 200, 200);
    }
  }
  &__cell {
    p {
      padding-right: 0.5rem;
    }
  }
}

:host ::ng-deep .mat-paginator-range-label {
  display: none !important;
}
