.signup {
  text-align: center;
}

.signup-grid {
  gap: 1rem;
  display: grid;
}

.signup-links {
  margin-top: 2rem;
  &__link {
    margin-top: 1rem;
    a {
      color: inherit;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__button {
    margin-top: 1rem;
    p {
      margin: 0;
    }
    button {
      width: 100%;
    }
  }
}

.signup-checkboxs {
  text-align: center;
  ul {
    padding-left: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
    li {
      text-align: left;
      a {
        color: inherit;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
