<div class="signup">
  <h2>新規アカウント登録</h2>
  <form [formGroup]="formGroup" autocomplete="off" class="formGroup">
    <div class="signup-grid">
      <mat-form-field class="signup-grid__input" appearance="outline">
        <mat-label>メールアドレス</mat-label>
        <input matInput type="email" formControlName="mail" />
      </mat-form-field>
      <mat-form-field class="signup-grid__input" appearance="outline">
        <mat-label>名前</mat-label>
        <input matInput type="text" formControlName="name" />
      </mat-form-field>
      <mat-form-field class="signup-grid__input" appearance="outline">
        <mat-label>パスワード</mat-label>
        <input matInput type="password" formControlName="password" />
      </mat-form-field>
      <mat-error *ngIf="password.errors?.['minlength']">6文字以上入力してください</mat-error>
    </div>
    <div class="signup-buttons">
      <div class="signup-buttons__button">
        <button mat-raised-button color="accent" (click)="signUp()">新規登録</button>
      </div>
      <div class="signup-buttons__button">
        <p>すでにアカウントをお持ちの場合</p>
        <button type="button" mat-stroked-button color="primary" routerLink="/login">ログイン</button>
      </div>
    </div>
  </form>
</div>
