@use 'variable' as var;
@use 'mixin' as mixin;

.container {
  min-width: 400px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 800px 1fr;
  &__header {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    height: 50px;
  }
  &__main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    min-height: 80vh;
    margin: 2rem 1rem;
  }
  &__footer {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
  }
}

.spinner {
  @include mixin.center;
  background: rgba(200, 200, 200, 0.95);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
}

// mat-form-fieldのカスタム
::ng-deep .mat-form-field-wrapper {
  margin: 0 !important;
  padding: 0;
}

@media screen and (max-width: 800px) {
  .grid {
    grid-template-columns: 1fr 3fr 1fr;
    &__main {
      grid-column: 1 / 4;
      grid-row: 2 / 3;
    }
  }
}
