<div class="player">
  <div class="player-header-container">
    <h2>プレイヤー登録</h2>
    <div class="move-buttons">
      <button class="move-buttons__button" mat-stroked-button color="accent" (click)="movePage('details')">
        大会成績
      </button>
      <button class="move-buttons__button" mat-stroked-button color="accent" (click)="movePage('game')">
        成績管理
      </button>
    </div>
  </div>

  <form [formGroup]="formGroup" autocomplete="off" class="formGroup" #form="ngForm">
    <div class="add-player">
      <mat-form-field class="add-player__input" appearance="outline">
        <mat-label>プレイヤー名</mat-label>
        <input matInput formControlName="name" [errorStateMatcher]="matcher" maxlength="20" />
      </mat-form-field>
      <button
        class="add-player__button"
        mat-raised-button
        color="accent"
        [disabled]="formGroup.invalid"
        (click)="postPlayer()"
      >
        追加
      </button>
    </div>
  </form>

  <app-player-list *ngIf="playerList$ | async as playerList" [playerList]="playerList"></app-player-list>
</div>
