@use 'variable' as var;
@use 'mixin' as mixin;

.footer {
  height: 100%;
  background-color: var.$dark-background-color;
  position: relative;
  z-index: 1000;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  &__title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    @include mixin.center;
    img {
      width: 13rem;
    }
  }
  &__policy {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    @include mixin.center;
    ul {
      margin: 0;
      padding: 0;
      li {
        padding: 0.2rem;
        list-style: none;
        a {
          text-decoration: none;
          margin-top: 1rem;
          color: var.$dark-font-color;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  &__link {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    color: var.$dark-font-color;
    @include mixin.center;
  }
}

.copyright {
  text-align: center;
  color: var.$dark-font-color;
}

@media screen and (max-width: 500px) {
  .footer-grid {
    grid-template-columns: 1fr 1fr;
    &__title {
      display: none;
    }
    &__policy {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
    &__link {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
  }
}
