@use 'variable' as var;
@use 'mixin' as mixin;

.footer {
  height: 100%;
  background-color: var.$dark-background-color;
  position: relative;
  z-index: 1000;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  &__title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    @include mixin.center;
    img {
      width: 15rem;
    }
  }
  &__link {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    @include mixin.center;
  }
}

.copyright {
  text-align: center;
  color: var.$dark-font-color;
}
