@use 'variable' as var;
@use 'mixin' as mixin;

.footer {
  height: 100%;
  background-color: var.$footerBackgroundColor;
  font-size: 1.5rem;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: var.$deepFontColor;
  a {
    color: var.$deepFontColor;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  &__title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 3rem;
    padding: 0.5rem;
    @include mixin.center;
  }
  &__link {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    @include mixin.center;
    ul {
      margin: 0;
      padding: 0;
      li {
        padding: 0.5rem;
        list-style: none;
      }
    }
  }
}
