@use 'variable' as var;
@use 'mixin' as mixin;

.player {
  h2 {
    @include mixin.title;
  }
}

.add-player {
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  &__input {
    width: 80%;
  }
  &__button {
    width: 8rem;
    font-size: 2rem;
  }
}
