<div class="player">
  <h2>プレイヤー登録</h2>
  <form [formGroup]="formGroup" autocomplete="off" class="formGroup" #form="ngForm">
    <div class="add-player">
      <mat-form-field class="add-player__input" appearance="outline">
        <mat-label>プレイヤー名</mat-label>
        <input matInput formControlName="playerName" [errorStateMatcher]="matcher" maxlength="20" />
      </mat-form-field>
      <button
        class="add-player__button"
        mat-stroked-button
        color="accent"
        [disabled]="formGroup.invalid"
        (click)="postPlayer()"
      >
        追加
      </button>
    </div>
  </form>

  <app-player-list *ngIf="players$ | async as players" [players]="players"></app-player-list>
</div>
