@use 'variable' as var;

h2 {
  margin-top: 2rem;
  color: var.$titleFontColor;
}
.add-player {
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  &__input {
    width: 70%;
  }
  &__button {
    width: 10%;
    font-size: 2rem;
  }
}

:host ::ng-deep .mat-form-field-wrapper {
  margin: 0 !important;
  padding: 0;
}
