<div class="league-name">
  <p>{{ leagueName }}</p>
</div>

<div class="league">
  <p class="league__title">大会期間</p>
  <mat-divider></mat-divider>
  <p class="league__content">
    {{ leagueStartAt | date: 'yyyy/MM/dd HH:mm' }} ~
    {{ leagueFnishAt | date: 'yyyy/MM/dd HH:mm' }}
  </p>
  <p class="league__title">大会説明</p>
  <mat-divider></mat-divider>
  <p class="league__content">{{ leagueManual }}</p>
</div>
<div class="material league-table">
  <app-table [columns]="tableColumns" [results]="tableData"></app-table>
</div>
