@use "variable" as var;
@use "@angular/material" as mat;

@mixin material {
  @include mat.elevation(2);
  border-radius: 0.5rem;
}

.league-name {
  color: var.$titleFontColor;
  margin-top: 2rem;
  font-size: 2.5rem;
}

.league-grid {
  display: grid;
  width: 100%;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 10rem 10rem 10rem;

  p {
    margin: 0;
  }

  &__title {
    font-size: 2rem;
    text-align: center;
  }
  &__contents {
    font-size: 3rem;
    text-align: center;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &--manual {
      font-size: 2rem;
    }

    &--date {
      font-size: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.material {
  @include material();
}

.grid-item {
  &__league-manual {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  &__league-admin-name {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  &__league-total-game {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  &__league-date {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }

  &__table {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
  }

  &__rules {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
  }
}

button {
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  height: 5rem;
  background-color: var.$backgroundColor;
  border-radius: 1rem;
  border-color: var.$accent;
  font-family: '"Noto Sans JP",monospace';
  color: var.$accent;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    background-color: var.$accent;
    color: var.$hoverFontColor;
  }

  span {
    margin-left: 1rem;
  }
}
