@use 'variable' as var;
@use 'mixin' as mixin;

h2 {
  @include mixin.title;
}

.league-buttons {
  display: flex;
  gap: 0.5rem;
  &__button {
    width: 20rem;
  }
}

.league-details {
  margin-top: 2rem;
  &__title {
    color: var.$subTitleFontColor;
    font-size: 2rem;
  }
  &__content {
    font-size: 1.5rem;
  }
}

.league-table {
  margin-top: 4rem;
}

.material {
  @include mixin.material;
}
