<div class="rules">
  <form [formGroup]="rulesGroup" autocomplete="off" class="formGroup">
    <h2 class="rules__title">大会ルール</h2>
    <mat-label class="rules__name">人数</mat-label>
    <div class="rules__radio">
      <mat-radio-group formControlName="playerCount">
        <mat-radio-button [value]="4">4人麻雀 </mat-radio-button>
        <mat-radio-button [value]="3">3人麻雀</mat-radio-button>
      </mat-radio-group>
    </div>
    <mat-label class="rules__name">局数</mat-label>
    <div class="rules__radio">
      <mat-radio-group formControlName="gameType">
        <mat-radio-button value="東風戦">東風戦</mat-radio-button>
        <mat-radio-button value="半荘戦">半荘戦</mat-radio-button>
      </mat-radio-group>
    </div>
    <mat-label class="rules__name">喰い断</mat-label>
    <div class="rules__radio">
      <mat-radio-group formControlName="tanyao">
        <mat-radio-button [value]="true">あり</mat-radio-button>
        <mat-radio-button [value]="false">なし</mat-radio-button>
      </mat-radio-group>
    </div>
    <mat-label class="rules__name">後付け</mat-label>
    <div class="rules__radio">
      <mat-radio-group formControlName="back">
        <mat-radio-button [value]="true">あり</mat-radio-button>
        <mat-radio-button [value]="false">なし</mat-radio-button>
      </mat-radio-group>
    </div>
    <mat-label class="rules__name">赤ドラ</mat-label>
    <div class="rules__radio">
      <mat-form-field appearance="outline">
        <mat-select formControlName="dora">
          <mat-option *ngFor="let dora of doraCount" [value]="dora">
            {{ dora }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <mat-label class="rules__name">配給原点</mat-label>
    <div class="rules__input">
      <mat-form-field appearance="outline">
        <input type="text" matInput formControlName="startPoint" appReplace maxlength="6" />
      </mat-form-field>
    </div>
    <mat-label class="rules__name">返し点</mat-label>
    <div class="rules__input">
      <mat-form-field appearance="outline">
        <input type="text" matInput formControlName="returnPoint" appReplace maxlength="6" />
      </mat-form-field>
    </div>
    <mat-label class="rules__name">ウマ</mat-label>
    <div class="rules__input-uma">
      <mat-form-field appearance="outline">
        <mat-label>1位</mat-label>
        <input type="text" matInput formControlName="uma1" appReplace maxlength="6" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>2位</mat-label>
        <input type="text" matInput formControlName="uma2" appReplace maxlength="6" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>3位</mat-label>
        <input type="text" matInput formControlName="uma3" appReplace maxlength="6" />
      </mat-form-field>
      <mat-form-field appearance="outline" *ngIf="playerCount.value !== 3">
        <mat-label>4位</mat-label>
        <input type="text" matInput formControlName="uma4" appReplace maxlength="6" />
      </mat-form-field>
    </div>
  </form>
</div>
