@use 'variable' as var;

.league-list {
  padding: 0;

  li {
    margin-top: 2rem;
    list-style-type: none;
    line-height: 5vh;
    font-weight: bold;
    font-size: 2rem;

    a {
      text-decoration: none;
      display: block;
      color: var.$accent;
      border-radius: 4px;

      &:hover {
        color: var.$hoverFontColor;
        background-color: var.$accent;
      }

      span {
        margin-left: 1rem;
      }
    }
  }
}
