@use 'variable' as var;

.league-list {
  .league-list-item {
    list-style-type: none;
    font-size: 2rem;

    a {
      text-decoration: none;
      color: var.$normalFontColor;
      font-size: 2rem;
      width: 100%;
      display: inline-flex;
      align-items: center;
      gap: 1rem;
    }
  }
}
