@use 'mixin' as mixin;

.league-details {
  &__title {
    margin-top: 1rem;
  }
}

.details-header-container {
  display: flex;
  justify-content: space-between;
}

.move-buttons {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.league-table {
  margin-top: 4rem;
  @include mixin.material;
}
