<div class="league">
  <h2>新規大会登録</h2>
  <form [formGroup]="formGroup" autocomplete="off" class="formGroup">
    <div class="league-grid">
      <mat-form-field class="league-grid__input" appearance="outline">
        <mat-label>大会名</mat-label>
        <input matInput formControlName="name" [errorStateMatcher]="matcher" maxlength="40" />
      </mat-form-field>
      <mat-form-field class="league-grid__input" appearance="outline">
        <mat-label>大会説明</mat-label>
        <textarea matInput formControlName="manual" [errorStateMatcher]="matcher" maxlength="100"></textarea>
      </mat-form-field>
      <mat-form-field class="league-grid__input" appearance="outline">
        <mat-label>大会期間</mat-label>
        <!-- 整形データを表示するため非表示 -->
        <ng-container>
          <input
            matInput
            style="display: none"
            [owlDateTime]="dt1"
            [selectMode]="'range'"
            formControlName="date"
            readonly
        /></ng-container>
        <!-- 整形データ -->
        <input matInput readonly [formControl]="displayDate" [errorStateMatcher]="matcher" />
        <mat-datepicker-toggle matSuffix [owlDateTimeTrigger]="dt1"></mat-datepicker-toggle>
        <owl-date-time [pickerMode]="'dialog'" [hour12Timer]="true" #dt1></owl-date-time>
      </mat-form-field>
    </div>
    <div class="league__radio">
      <mat-radio-group [formControl]="rulesRadio">
        <mat-radio-button value="mleagueRules">Mリーグルール</mat-radio-button>
        <mat-radio-button value="mahjongsoulRules">雀魂半荘ルール</mat-radio-button>
        <mat-radio-button value="tenhouRules">天鳳半荘ルール</mat-radio-button>
        <mat-radio-button value="custom">カスタムルール</mat-radio-button>
      </mat-radio-group>
    </div>

    <ng-container *ngIf="rulesRadio.value">
      <app-rules [formGroup]="formGroup"></app-rules>
    </ng-container>

    <button
      class="league__button"
      mat-raised-button
      color="accent"
      [disabled]="formGroup.invalid"
      (click)="postLeague()"
    >
      大会登録
    </button>
  </form>
</div>
