@use 'variable' as var;
@use 'mixin' as mixin;

.league {
  h2 {
    @include mixin.title;
  }
  &__radio {
    margin-top: 2rem;
    text-align: left;
    .mat-radio-button {
      min-width: 20rem;
    }
  }
  &__button {
    margin-top: 2rem;
    width: 100%;
  }
}

.league-grid {
  display: grid;
  gap: 1rem;
}
