@use 'variable' as var;
@use 'mixin' as mixin;

h2 {
  @include mixin.title;
}

.league {
  width: 70%;
  margin: auto;
  text-align: center;
  &__input {
    width: 100%;
  }
  &__radio {
    margin-top: 2rem;
    text-align: left;
    .mat-radio-button {
      min-width: 20rem;
    }
  }
  &__button {
    margin-top: 2rem;
    width: 100%;
  }
}

// DatePicker用のstyle
::ng-deep .owl-dt-container {
  font-size: 1.5rem;
}

@media screen and (max-width: 1000px) {
  .league {
    width: 100%;
  }
}
