<form [formGroup]="formGroup" autocomplete="off" class="formGroup">
    <h2>大会登録</h2>
    <div class="league">
        <p>大会名</p>
        <mat-form-field class="league__input" appearance="outline">
            <mat-label>大会名</mat-label>
            <input matInput placeholder="" value="" formControlName="leagueName" maxlength="40" />
        </mat-form-field>
        <mat-form-field class="league__input" appearance="outline">
            <mat-label>大会説明</mat-label>
            <textarea matInput placeholder="" value="" formControlName="leagueManual" maxlength="100"></textarea>
        </mat-form-field>
        <div class="league__radio">
            <mat-radio-group formControlName="rulesRadio">
                <mat-radio-button value="mahjongsoulRules">雀魂公式ルール</mat-radio-button>
                <mat-radio-button value="tenhouRules">天鳳公式ルール</mat-radio-button>
                <mat-radio-button value="custom">カスタムルール</mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
    <ng-container *ngIf="formGroup.get('rulesRadio')?.value === 'mahjongsoulRules'">
        <app-rules [rulesRadioValue]="formGroup.get('rulesRadio')?.value" (sendRules)="setRules($event)"></app-rules>
    </ng-container>
    <ng-container *ngIf="formGroup.get('rulesRadio')?.value === 'tenhouRules'">
        <app-rules [rulesRadioValue]="formGroup.get('rulesRadio')?.value" (sendRules)="setRules($event)"></app-rules>
    </ng-container>
    <ng-container *ngIf="formGroup.get('rulesRadio')?.value === 'custom'">
        <app-rules [rulesRadioValue]="formGroup.get('rulesRadio')?.value" (sendRules)="setRules($event)"></app-rules>
    </ng-container>
</form>
