@use "variable" as var;

h2 {
  margin-top: 2rem;
  color: var.$titleFontColor;
}
.league {
  text-align: center;
  &__input {
    width: 70%;
  }
  &__radio {
    margin: 1rem 0;
    text-align: left;
    .mat-radio-button {
      margin-left: 1rem;
      width: 20%;
      min-width: 20%;
    }
  }
  &__button {
    width: 70%;
    margin: auto;
  }
  label {
    display: inline-block;
    font-size: 1.5rem;
    vertical-align: middle;
    width: 10%;
    min-width: 10%;
  }
}
