@import "~@angular/material/theming";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.mat-toolbar {
  background: rgb(151, 204, 193);
  color: #fff;
}

.mat-toolbar-single-row {
  position: fixed;
  z-index: 2;
}
$custom-typography: mat-typography-config(
  $font-family: "monospace",
  $title: mat-typography-level(2.5rem),
  $headline: mat-typography-level(3rem),
);
@include angular-material-typography($custom-typography);

// $display-4: mat-typography-level(112px, 123px, 300, $letter-spacing: -0.05em),
// $display-3: mat-typography-level(56px, 62px, 400, $letter-spacing: -0.02em),
// $display-2: mat-typography-level(45px, 53px, 400, $letter-spacing: -0.005em),
// $display-1: mat-typography-level(34px, 44px, 400),
// $headline: mat-typography-level(24px, 35px, 400),
// $title: mat-typography-level(20px, 32px, 500),
// $subheading-2: mat-typography-level(17px, 30px, 400),
// $subheading-1: mat-typography-level(16px, 26px, 400),
// $body-2: mat-typography-level(15px, 26px, 500),
// $body-1: mat-typography-level(15px, 22px, 400),
// $caption: mat-typography-level(13px, 20px, 400),
// $button: mat-typography-level(15px, 15px, 500),
