// MaterialTheme
@use 'material-custom';
// Datepicker用のCSS
@import '~@danielmoncada/angular-datetime-picker/assets/style/picker.min.css';

html {
  font-size: 62.5%;
  height: 100%;

  body {
    height: 100%;
    margin: 0px;
    font-family: '"Noto Sans JP",monospace';
  }
}
