// MaterialTheme
@use 'material-custom';
// Datepicker用のCSS
@import '~@danielmoncada/angular-datetime-picker/assets/style/picker.min.css';

html {
  font-size: 62.5%;
  margin: 0;

  body {
    margin: 0;
    font-family: '"Noto Sans JP",monospace';
  }
}
