<div class="img-container">
  <img src="assets/top_image.jpeg" />
</div>

<div class="top-container">
  <div class="top-content">
    <h1 class="top-content__main-title">雀Tools</h1>
    <p>雀Toolsは麻雀大会の成績管理ができるWEBサービスです。</p>
  </div>
  <div class="top-content">
    <button mat-raised-button color="accent" routerLink="/signup">新規アカウント登録</button>
  </div>
  <div class="top-content">
    <h2 class="top-content__sub-title">大会検索</h2>
    <app-search [auto]="auto" (sendValue)="leagueSearch($event)"></app-search>
    <!--Todo オートコンプリートのコンポーネントを分離する -->
    <mat-autocomplete #auto="matAutocomplete">
      <ng-container *ngIf="search$ | async as league">
        <ng-container *ngIf="league.length !== 0; else elseContent">
          <mat-option *ngFor="let l of league" routerLink="/details/{{ l.id }}">
            {{ l.name }}
          </mat-option>
        </ng-container>
        <ng-template #elseContent>
          <mat-option disabled> データが存在しません </mat-option>
        </ng-template>
      </ng-container>
    </mat-autocomplete>
  </div>
  <div class="top-content">
    <app-news-list></app-news-list>
  </div>
</div>
