<table mat-table [dataSource]="dataSource" class="table">
  <ng-container matColumnDef="{{ column }}" *ngFor="let column of columnsToDisplay">
    <th class="table__header" mat-header-cell *matHeaderCellDef>{{ column | japanese }}</th>
    <td class="table__cell" mat-cell *matCellDef="let element">
      <ng-container *ngIf="column === 'results'; else elseContent">
        <app-table-result-row [result]="element"></app-table-result-row>
      </ng-container>
      <ng-template #elseContent>
        {{ column === 'date' || column === 'createdAt' ? (element[column] | date: 'yy/MM/dd HH:mm') : element[column] }}
      </ng-template>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr
    mat-row
    *matRowDef="let element; columns: columnsToDisplay"
    class="table__element-row"
    [ngClass]="{ selectedBackground: selection.isSelected(element) }"
    (click)="rowClick(element)"
  ></tr>
</table>
<mat-paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOption"></mat-paginator>
