<table #table mat-table matSort [dataSource]="dataSource" class="table">
  <ng-container matColumnDef="{{ column }}" *ngFor="let column of columnsToDisplay">
    <th class="table__header" mat-header-cell *matHeaderCellDef mat-sort-header>{{ column | japanese }}</th>
    <td class="table__cell" mat-cell *matCellDef="let element">
      <ng-container *ngIf="column === 'results'; else elseContent">
        <app-table-result-row [result]="element"></app-table-result-row>
      </ng-container>
      <ng-template #elseContent>
        <p>
          {{
            column === 'date' || column === 'createdAt'
              ? (element[column] | date: 'yy/MM/dd HH:mm')
              : (element[column] | customSlice: 10)
          }}
        </p>
      </ng-template>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr
    mat-row
    *matRowDef="let element; columns: columnsToDisplay"
    [class.table__element-row]="clickOption ? true : false"
    (click)="rowClick(element)"
  ></tr>
</table>
<div [hidden]="len < 11">
  <mat-paginator hidePageSize [pageSize]="10"></mat-paginator>
</div>
