.table {
  width: 100%;
  &__header {
    min-width: 4rem;
  }
  &__element-row {
    &:hover {
      background: rgb(140, 140, 140);
    }
    &:active {
      background: rgb(125, 125, 125);
    }
  }
  &__cell {
    p {
      padding-right: 0.5rem;
    }
  }
}

:host ::ng-deep .mat-paginator-range-label {
  display: none !important;
}

.selectedBackground {
  background: rgb(115, 115, 115);
}
