<mat-card>
  <div class="policy">
    <h1>プライバシーポリシー</h1>
    <p>
      本ウェブサイト上で提供するサービス(以下、「本サービス」という。)は、ユーザーの個人情報について以下のとおりプライバシーポリシー（以下、「本ポリシー」という。）を定めます。
    </p>
    <h2>第1条 個人情報</h2>
    <p>
      「個人情報」とは、個人情報保護法において生存する個人に関する情報で、氏名、生年月日、住所、顔写真などにより特定の個人を識別できる情報をいいます。
      本サービスをユーザーが利用登録をするとき、氏名、メールアドレスなど個人を特定できる情報を取得させていただきます。
    </p>
    <h2>第2条 個人情報の利用目的</h2>
    <p>本サービスが個人情報の収集利用する目的は以下のとおりです。</p>
    <ol>
      <li>本サービスの提供、運営のため</li>
      <li>ユーザー特定に使用するため</li>
      <li>
        利用規約に違反したユーザーや、不正、不当な目的でサービスを利用しようとするユーザーを特定し利用を停止するため
      </li>
    </ol>
    <h2>第3条 個人データの第三者提供について</h2>
    <p>
      本サービスは法令及びガイドラインに別段の定めがある場合を除き、同意を得ないで第三者に個人情報を提供することは致しません。
    </p>
    <h2>第4条 保有個人データの開示、訂正</h2>
    <p>
      本サービスは本人から個人情報の開示を求められたときには、遅滞なく本人に対しこれを開示します。個人情報の利用目的の通知や訂正、追加、削除、利用の停止を希望される方はTwitterDMまたはGithubのissueからご連絡をお願いします。
    </p>
    <h2>第5条 個人情報取り扱いに関する相談や苦情の連絡先</h2>
    <p>
      本サービス内の個人情報の取り扱いに関するご質問やご不明点、苦情、その他のお問い合わせはTwitterDMまたはGithubのissueからご連絡をお願いします。
    </p>
    <h2>第6条 SSL（Secure Socket Layer）について</h2>
    <p>
      本サービスはSSLに対応しており、WebブラウザとWebサーバーとの通信を暗号化しています。ユーザーが入力する氏名、メールアドレスなどの個人情報は自動的に暗号化されます。
    </p>
    <h2>第7条 免責事項</h2>
    <p>
      本サービスに掲載されている情報の正確性には万全を期していますが、利用者が本サービスの情報を用いて行う一切の行為に関して、一切の責任を負わないものとします。本サービスは、利用者が本サービスを利用したことにより生じた利用者の損害及び利用者が第三者に与えた損害に関して、一切の責任を負わないものとします。
    </p>
    <h2>第8条 著作権・肖像権</h2>
    <p>
      本サービス内の文章や画像、すべてのコンテンツは著作権・肖像権等により保護されています。無断での使用や転用は禁止されています。
    </p>
    <h2>第9条 プライバシーポリシーの変更</h2>
    <p>
      本ポリシーの内容は、法令その他本ポリシーに別段の定めのある事項を除いて、ユーザーに通知することなく、変更することができるものとします。
      変更後のプライバシーポリシーは、本ウェブサイトに掲載したときから効力を生じるものとします。
    </p>
    <h2>第10条 お問合せ</h2>
    <p>本ポリシーに関するお問合せは、TwitterDMまたはGithubのissueからご連絡をお願いします。</p>
    <app-sns-list></app-sns-list>

    <p>制定:2022年11月04日</p>
  </div>
</mat-card>
